.button__container {
    margin-top: 16px;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-brand__name {
    font-size: 40px;
    margin-left: 12px;
}

.navbar-item:hover svg {
    fill: #3273dc;
}

.homepage h1 {
    font-size: 5rem;
}

main {
    padding: 8px;
}

#navLogo {
    width: 60px;
    height: 60px;
}

@media (max-width: 575px) {
    .navbar-brand__name {
        display: none;
    }

    #navLogo {
        width: 36px;
        height: 36px;
    }
}
