.button__container {
    margin-top: 16px;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-brand span {
    font-size: 40px;
    margin-left: 12px;
}

.navbar-brand:hover svg {
    fill: #3273dc;
}

.homepage h1 {
    font-size: 5rem;
}
