{% extends 'base.html' %}
{% block content %}
<main class="container content">
    <form id="signupForm" method="POST">
        <div class="field firstname">
            <label class="label" for="firstname">Имя</label>
            <div class="control">
                <input class="input" type="text" name="firstname" id="firstname" required>
            </div>
        </div>
        <div class="field lastname">
            <label class="label" for="lastname">Фамилия</label>
            <div class="control">
                <input class="input" type="text" name="lastname" id="lastname" required>
            </div>
        </div>
        <div class="field email">
            <label class="label" for="email">Email</label>
            <div class="control">
                <input class="input" type="email" name="email" id="email" required>
            </div>
        </div>
        <div class="field password">
            <label class="label" for="password">Пароль</label>
            <div class="control">
                <input class="input" type="password" name="password" id="password" required>
            </div>
        </div>
        <div class="field agreement">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="agreement" id="agreement"> 
                    <span>Я согласен с <a href="#" class="terms">условиями соглашения</a></span>
                </label>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button button__submit is-link" type="submit" disabled>Зарегистрироваться</button>
            </div>
        </div>
    </form>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Terms and conditions</p>
                <button class="delete button__close-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <p>Welcome to Website Name!</p>
                    <p>These terms and conditions outline the rules and regulations for the use of Company Name's Website, located at Website.com.</p>
                    <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Website Name if you do not 
                        agree to take all of the terms and conditions stated on this page.</p>
                    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: 
                        “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions. 
                        “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. 
                        All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance 
                        to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision
                        of the Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology 
                        or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
                </div>
            </section>
            <footer class="modal-card-foot"></footer>
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}
