{% extends 'base.html' %}

{% block content %}
    <main class="container content">
        <h1>Вакансии</h1>
        <section class="vacancies">
        </section>
        <button class="button button__show-more">Показать еще</button>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            let page = 0
            let totalPages

            try {
                let response = await fetch(`/api/vacancies/${page}`)
                let data = await response.json()
                let vacanciesSection = document.querySelector('.vacancies')
                totalPages = data.total_pages

                data.vacancies.forEach(vacancy => {
                    let card = document.createElement('div')
                    card.classList.add('vacancy', 'tile', 'is-parent')
                    card.innerHTML = `
                        <article class="tile is-child box">
                            <div class="level">
                                <p class="title"><a href=${vacancy.url}>${vacancy.name}</a></p>
                                <img src="${vacancy.employer.logo}" alt="${vacancy.employer.name}"/>
                            </div>
                            <div class="content">
                                ${vacancy.responsibility ? `<p class="description">${vacancy.responsibility}</p>` : ''}
                                ${vacancy.salary ? `<p class="salary">
                                    ${vacancy.salary.from ? `<span class="salary-from">от ${vacancy.salary.from} </span>` : ''}
                                    ${vacancy.salary.to ? `<span class="salary-from">до ${vacancy.salary.to}</span>` : ''}
                                    <span class="salary-currency"> ${vacancy.salary.currency}</span>
                                </p>` : '<span class="salary-no">З/п не указана</span>'}
                            </div>
                        </article>
                    `
                    vacanciesSection.prepend(card)
                });
            } catch (error) {
                console.log(error)
            }

            document.querySelector('.button__show-more').addEventListener('click', async () => {
                page += 1

                if (page === totalPages - 1) {
                    document.querySelector('.button__show-more').remove()
                }

                try {
                    let response = await fetch(`/api/vacancies/${page}`)
                    let data = await response.json()
                    let vacanciesSection = document.querySelector('.vacancies')

                    data.vacancies.forEach(vacancy => {
                        let card = document.createElement('div')
                        card.classList.add('vacancy', 'tile', 'is-parent')
                        card.innerHTML = `
                            <article class="tile is-child box">
                                <div class="level">
                                    <p class="title"><a href=${vacancy.url}>${vacancy.name}</a></p>
                                    <img src="${vacancy.employer.logo}" alt="${vacancy.employer.name}"/>
                                </div>
                                <div class="content">
                                    ${vacancy.responsibility ? `<p class="description">${vacancy.responsibility}</p>` : ''}
                                    ${vacancy.salary ? `<p class="salary">
                                        ${vacancy.salary.from ? `<span class="salary-from">от ${vacancy.salary.from} </span>` : ''}
                                        ${vacancy.salary.to ? `<span class="salary-from">до ${vacancy.salary.to}</span>` : ''}
                                        <span class="salary-currency"> ${vacancy.salary.currency}</span>
                                    </p>` : '<span class="salary-no">З/п не указана</span>'}
                                </div>
                            </article>
                        `
                        vacanciesSection.append(card)
                    });
                } catch (error) {
                    console.log(error)
                }
            })
        })
    </script>
{% endblock %}